<app-navbar></app-navbar>
<section class="container">
<h1>About</h1>
<p>Our Bangalore office opened in 2011 and is at the centre of managing client relationships and conducting<br> syndicated and consulting research across India.</p>
<h5>What makes the Bangalore office a productive, interesting and fun place to work?</h5>
<p>The diversity of our staff is vast with people originating from all corners of the country, creating a rich blend<br> of cultures that come together to solve problems, work hard and have fun.</p>
<h5>What unique solutions do you provide clients in India?</h5>
<p>We assist our clients across sectors to stay relevant in a highly competitive market. Our client conversations<br> often centre around measuring key market indicators at city or state levels as well as penetrating markets<br>beyond our borders. We identify and quantify regional consumer and product trends to provide strategic<br> direction.</p>
<a href="course.html">Course</a><br>
<a href="Batch.html">Batch</a><br>
<a href="college.html">Staff</a>
<a href="Menu.html">Menu</a>
</section>