<nav class="navbar navbar-expand-lg navbar-light"style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/gallary']" routerLinkActive="active-link">Gallary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active-link">Reservation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  [routerLink]="['/user']" routerLinkActive="active-link">User</a></li>
            <li><a class="dropdown-item" [routerLink]="['/twowaybinding']" routerLinkActive="active-link">Two Way Binding</a></li>
            <li><a class="dropdown-item" [routerLink]="['/e-info']" routerLinkActive="active-link">Services</a></li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
</nav>


   
